<footer>
    <div id="footer-main">
        <div id="footer-content">
            <div id="repo-link">
                Source Code : &nbsp;<a class="remove-footer-deafult-styles" target="_blank" href="https://github.com/iamchetansharma8/fym"> <i class="fab fa-github"></i> Fym github</a>
            </div>
            <div id="developer-info">
                <div>
                    <h4>Developed By : </h4>
                </div>
                <div>Chetan Sharma</div>
                <div>
                    <a class="remove-footer-deafult-styles" href="https://github.com/iamchetansharma8" target="_blank"> <i class="fab fa-github"></i> Github </a>
                </div>
                <div>
                    <a class="remove-footer-deafult-styles" href="https://www.linkedin.com/in/chetan-sharma-908235194/" target="_blank"> <i class="fab fa-linkedin"></i> Linkedin</a>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            <i class="far fa-copyright"></i> Copyright 2021 All rights reserved
        </div>
    </div>
</footer>