<header>
    <span id="fym-logo"><h1>fym</h1></span>
    <ul>
        <% if(locals.user){%>
            <li>
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/users/profile/<%=user.id%>"><i class="fas fa-user-tie"></i> <%=user.name%></a>
            </li>
            <li>
                <a href="/post/create_page"><i class="fas fa-plus"></i> New Post</a>
            </li>
            <li>
                <a href="/post/all_posts"><i class="fas fa-wallet"></i> All posts</a>
            </li>
            <li>
                <a href="/users/sign_out"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </li>
        <%}else{%>
            <li>
                <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/post/create_page"><i class="fas fa-plus"></i> New Post</a>
            </li>
            <li>
                <a href="/post/all_posts"><i class="fas fa-wallet"></i> All posts</a>
            </li>
            <li>
                <a href="/users/sign_in"><i class="fas fa-sign-in-alt"></i> Sign In</a>
            </li>
            <li>
                <a href="/users/sign_up"><i class="fas fa-user-plus"></i> Sign Up</a>
            </li>
            <li>
                <a href="/users/forgot_password"><i class="fas fa-key"></i> Forgot Password</a>
            </li>
        <%}%>
    </ul>
</header>