<header>
    <span id="fym-logo"><h1>fym</h1></span>
    <ul>
        <% if(locals.user){%>
            <li>
                <a href="/users/profile"><%=user.name%></a>
            </li>
            <li>
                <a href="/users/sign_out">Sign Out</a>
            </li>
        <%}else{%>
            <li>
                <a href="/users/sign_in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign_up">Sign Up</a>
            </li>
            <li>
                <a href="/users/forgot_password">Forgot Password</a>
            </li>
        <%}%>
    </ul>
</header>