<section class="sign-up">
    <section class="sign-up-img">
        <img src="<%=assetPath('images/sign-up2.jpg')%>" alt="signup-img">
    </section>
    <section class="sign-up-main">
        <h1>Forgot Password?</h1>
        <p class="forgot-text">
            Enter the email address you used when you joined,
            <br>
            and we’ll send you instructions to reset your password.
        </p>
        <br>
        <form id="forgottt-formm" action="/users/reset_pass" method="POST">
            <div class="sign-up-inputs">
                <label for="email">Email Id</label>
                <input type="email" name="email" id="" placeholder="Enter your email" required>
            </div>
            <button class="create-acc-btn"><input type="submit" value="Get Email"></button>
        </form>
        <p>
            <button class="google-btn"><a href="/users/auth/google"><i class="fab fa-google"></i>Google Sign In | Sign Up</a></button>
        </p>
    </section>
</section>