<h1>Forgot Password</h1>
<h2>Enter your email id to verify your identity and reset password</h2>
<form action="/users/reset_pass" method="POST">
    <input type="email" name="email" id="" placeholder="Enter your email" required>
    <input type="submit" value="Get Email">
</form>
<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>