<link rel="stylesheet" href="/css/home.css">
<h1>Home!!</h1>

<!-- later will convert to followers and suggestion kind -->
<section id="all-users">
    <h4>All Users</h4>
    <% for(u of all_users){%>
        <p>
            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
    <%}%>
</section>