<div id="new-post-container">
    <div id="new-post-head">
        <h1>Create new post</h1>
    </div>
    <div id="new-post-content">
        <form action="/post/create" method="POST">
            <div id="new-post-title">
                <label for="title">Title</label>
                <br>
                <input type="text" maxlength="35" name="title" id="" placeholder="Enter title of your post" required>
            </div>
            <div id="new-post-desc">
                <label for="description">Description</label>
                <br>
                <textarea maxlength="75" required name="description" id="" placeholder="Enter description for your post"></textarea>
            </div>
            <div id="new-post-markdown">
                <label for="markdown">Markdown</label>
                <br>
                <textarea required name="markdown" id="markdown" placeholder="Type and post (Markdown Supported)"></textarea>
            </div>
            <div id="new-post-btn"><button type="submit">Post</button></div>
        </form>
    </div>
</div>