<section class="sign-up">
    <section class="sign-up-img">
        <img src="/images/sign-up2.jpg" alt="signup-img">
    </section>
    <section class="sign-up-main">
        <h1>Sign in to fym</h1>
    <p>
        <button class="google-btn"><a href="/users/auth/google"><i class="fab fa-google"></i>Google Sign In | Sign Up</a></button>
    </p>
    <br>
        <span>OR</span>
    <br>
    <form class="sign-up-form" action="/users/create-session" method="POST">
        <div class="sign-up-inputs">
            <label for="email">Email Id</label>
            <input type="email" name="email" id="" placeholder="Enter your email" required>
        </div>
        <div class="sign-up-inputs">
            <label for="password">Password</label>
            <input type="password" name="password" id="" placeholder="password" required>
        </div>
        <button class="create-acc-btn"><input type="submit" value="Sign In"></button>
    </form>
    </section>
</section>