<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="" placeholder="Enter your email" required>
    <input type="password" name="password" id="" placeholder="password" required>
    <input type="submit" value="Sign In">
</form>