<form action="/users/verify_email/<%=token%>" method="POST">
    <input type="checkbox" name="verifyCheck" required>
    <label for="verifyCheck">Verify my account with fyn</label>
    <input type="submit" value="verify">
</form>