#active-chats-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    font-family: sans-serif;
    color: #e2e2e2;
}
#active-chats-container ul{
    list-style: none;
    padding: 0;
}
#active-chats-container ul li a{
    text-decoration: none;
    font-size: 1.2rem;
}
.active-user-namee{
    color: yellowgreen;
}
.active-chat-endee{
    color: violet;
}
.active-user-namee:hover{
    color: #e2e2e2;
}
.active-chat-endee:hover{
    color: red;
}

@media(max-width: 1000px){
    #active-chats-head{
        font-size: 2rem
    }
    #active-chats-container ul li a{
        font-size: 2rem;
    }
}