#all-posts-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#all-posts-search{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.post-search-btn-div{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.post-search-inputs{
    display: flex;
    flex-direction: column;
}
#all-posts-search-form{
    padding: 1.5rem;
}
#search-input{
    align-items: center;
}
#search-input input{
    width: 40vw;
}
#search-post-btn{
    font-size: 1.2rem;
    background-color: yellowgreen;
    color: white;
    font-family: sans-serif;
    padding: .7rem;
    border: none;
}
#search-post-btn:hover{
    cursor: pointer;
}
#all-posts-main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing:border-box;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.all-posts-list{
    display: flex;
    flex-wrap: wrap;
}
.individual-post{
    padding: 1rem;
    width: 25vw;
    background-color: bisque;
    margin-bottom: 1rem;
}
.individ-post-title{
    height: 10vh;
    width: 100%;
}
.individ-post-det{
    margin-bottom: 1vh;
    height: 5vh;
    width: 100%;
}
.individ-post-det p{
    margin: 0;
}
.individ-post-desc p{
    margin: 0;
}
.individ-post-desc{
    margin-bottom: 1vh;
    height: 8vh;
    width: 100%;
}
.all-posts-btns{
    margin-top: 3vh;
    background-color: #ea4c89;
    border: none;
    padding: .7rem;
    color: white;
    font-size: 1.1rem;
}
.all-posts-btns a{
    color: white;
    text-decoration: none;
}

@media(max-width: 1000px){
    #search-input{
        font-size: 2.4rem;
    }
    #search-input input{
        font-size: 2.4rem;
    }
    #search-post-btn{
        font-size: 2rem;
        padding: 1.5rem
    }
    #all-posts-main{
        width: 100vw;
        font-size: 2.5rem;
    }
    .individual-post{
        width: 80vw;
        font-size: 2rem;
    }
    .all-posts-btns{
        font-size: 2.4rem;
    }
    .individ-post-btns button{
        font-size: 2rem;
    }
}