.post-container{
    display: flex;
    flex-direction: column;
}
.post-main-head{
    height: 38vh;
    background: #171e26;
    /* background-image:url(../images/blog-title-backg1.jpg); */
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: fantasy;
}
#post-heading{
    margin: 0;
    text-align: center;
    font-size: 2rem;
    height: 22vh;
}
#post-cred{
    font-size: 1.3rem;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.post-main-desc{
    display: flex;
    background-color: #e6e8ec;
    color: #202020;
    font-size: 1.8rem;
    font-family: sans-serif;
    justify-content: center;
}
.post-main-body{
    line-height: 1.65;
    background-color: #f5f6f8;
    color: #3f424e;
    font-size: 1.1rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 12vw 1vh 12vw;
}
.post-main-body img{
    display: block;
}
.post-main-body ul li{
    margin: 1.5vh 0 1.5vh 0;
}
.post-main-body ol li{
    margin: 1.5vh 0 1.5vh 0;
}
.post-main-body strong{
    color: teal;
}
.post-main-body p{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.post-main-body img{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 46vh;
    width: 52vw;

}
.post-comments{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f8;
}
.full-post-head-btns{
    background-color: #171e26;
    border: none;
    color: white;
    font-size: 1.2rem;
}
.full-post-head-btns a{
    text-decoration: none;
    color: white;
}
.post-comment-delete{
    background-color: #171e26;
    border: none;
    padding: .5rem;
}
.post-comment-delete a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

@media(max-width: 1000px){
    .post-main-head{
        height: 15vh;
    }
    .post-main-desc{
        padding: 1rem;
        font-size: 1.3rem;
    }
    .post-main-body{
        padding: 1vh 6vw 1vh 6vw;
    }
    .post-main-body img{
        width: 90vw;
        height: unset;
    }
    .post-main-body p{
        margin-top: unset;
        margin-bottom: unset;
    }
    #post-full-cmnts form{
        display: flex;
        flex-direction: column;
    }
    #post-full-cmnts form input{
        font-size: 1rem;
    }
    #post-comments-list{
        font-size: 2rem;
    }
    .post-comment-delete{
        font-size: 1.8rem;
        padding: 1rem;
    }
    #likee-cmnt i{
        font-size: 4rem !important;
    }
}