header{
    height: 7vh;
    background-color:#171e26;
    display: flex;
    align-items: center;
}
#fym-logo{
    width: 20vw;
    font-size: 1.4rem;
    font-weight: 800;
    color:whitesmoke;
    font-family: cursive;
    /* background-color: chartreuse; */
}
header ul{
    width: 80vw;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: burlywood; */
}
header ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.2rem;
}
header ul li i{
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.2rem;
}
#new-chat-sub{
    /* font-size: .5rem;; */
}
#new-chat-sub i{
    font-size: .5rem;
    color: chartreuse;
}