.home-chat-box{
    display: flex;
    flex-direction: column;
    width: 25vw;
    bottom: 2vh;
    height: 52vh;
    right: 5vw;
    position: fixed;
    border: 1px solid rosybrown;
    /* background-color: #000000; */
    background-color: #ffffff;
    /* background-image: url("/images/home-chat-back.jpg"); */
    background-position: center;
    background-size: cover;
}
.chat-box-outer{
    display: flex;
    flex-direction: column; 
 }  
.chat-heading{
    /* color: #ffffff; */
    color: #141415;
    border-bottom: 1px solid burlywood;
    font-family: sans-serif;
    /* background-color: #191919; */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
} 
.home-chats{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 46vh;
    color: #555555;
    font-family: sans-serif;
}
.home-chat-list{
    list-style: none;
    padding-left: 5%;

}
.home-chat-list li{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 1.2rem;
    width: fit-content;
    padding: .4rem;
    border-radius: 5%;
    /* color: #e2e2e2; */
}

.other-msg{
    /* text-align: left; */
    /* background-color: #ffffff; */
    /* background-color: #262626; */
    background-color: #f1f1ef;
    color: #141415;
    margin-left: -3%;
    margin-right: 15%;
    /* border-radius: 25% 10% 10% 25%; */
}
.self-msg{
    /* text-align: right; */
    /* background-color: #dbf8c6; */
    /* background-color: #795cd6; */
    background-color: #2284ff;
    color: #e9f4ff;
    margin-left: 15%;
    margin-right: 5%;
    /* border-radius: 10% 25% 25% 10%; */
}
.home-chat-form{
    height: 6vh;
    width: 100%;
    display: flex;
}
.home-chat-form input{
    width: 75%;
}
.home-chat-form button{
    width: 25%;
}
#send-home-msg{
    background-color: #ffffff;
    color: #b327e9;
    font-size: 1.1rem;
    border: none;
}
.home-chat-input{
    background-color: #ffffff;
    color: #141415;
    border: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.home-chat-input:focus-visible{
    border: none;
    outline: none;
}