.user-chat-box{
    display: flex;
    flex-direction: column;
    width: 27vw;
    bottom: 2vh;
    height: 62vh;
    right: 5vw;
    position: fixed;
    border: 1px solid rosybrown;
    background-color: #000000;
    /* background-image: url("/images/home-chat-back.jpg"); */
    background-position: center;
    background-size: cover;
}
/* .chat-box-outer{
    display: flex;
    /* flex-direction: column; */
/* } */ 
/* .chat-heading{
    color: #ffffff;
    font-family: sans-serif;
} */
.user-chats{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 56vh;
    color: #555555;
    font-family: sans-serif;
}
.user-chat-list{
    list-style: none;
    padding-left: 5%;

}
.user-chat-list li{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-size: 1.2rem;
    width: fit-content;
    padding: .4rem;
    border-radius: 5%;
    color: #e2e2e2;
}

/* .other-msg{
    text-align: left;
    background-color: #ffffff;
    margin-left: -3%;
    margin-right: 15%;
    border-radius: 25% 10% 10% 25%;
}
.self-msg{
    text-align: right;
    background-color: #dbf8c6;
    margin-left: 15%;
    margin-right: 5%;
    border-radius: 10% 25% 25% 10%;
} */
.user-chat-form{
    height: 6vh;
    width: 100%;
    display: flex;
}
.user-chat-form input{
    width: 75%;
}
.user-chat-form button{
    width: 25%;
}
#send-user-msg{
    background-color: #262626;
    color: #ffffff;
    /* color: #1a58ea; */
    font-size: 1.1rem;
    border: none;
}
#start-video{
    text-decoration: none;
    color: #ffffff;
}
#user-chat-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    border-bottom: none;
}
.chat-user-img{
    border-radius: 50%;
}
.user-chat-input{
    background-color: #262626;
    color: #e2e2e2;
    border: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.user-chat-input:focus-visible{
    border: none;
    outline: none;
}

.other-msg1{
    /* text-align: left; */
    /* background-color: #ffffff; */
    background-color: #262626;
    /* background-color: #f1f1ef; */
    /* color: #141415; */
    margin-left: -3%;
    margin-right: 15%;
    /* border-radius: 25% 10% 10% 25%; */
}
.self-msg1{
    /* text-align: right; */
    /* background-color: #dbf8c6; */
    background-color: #795cd6;
    /* background-color: #2284ff; */
    /* color: #e9f4ff; */
    margin-left: 15%;
    margin-right: 5%;
    /* border-radius: 10% 25% 25% 10%; */
}
#profile-page-image img{
    border-radius: 50%;
    box-shadow: 1px whitesmoke;
}
#profile-page-image img:hover{
	box-shadow: 0rem 0rem 0.375rem 0.25rem rgba(230,196,196,0.3);
}